.contact {
  display: none;
  color: var(--text-color);

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    list-style: none;
    flex-direction: column;
  }

  @media (min-width:1200px){
    align-items: baseline;
    display: flex;
    
  }


  &__link {
    display: flex;
  }

  &__link + &__link {
    margin-left: 40px;

    @media (min-width: 768px) {
      margin: 0;
      margin-top: 10px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__link-active {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    fill: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
      padding: 0;
      gap: 10px;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}
