.modal {
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
  position: relative;
  width:280px;
  height:609px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  overflow-y: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media (min-width:480px){
  width: 450px;
  height: 581px;
  }

  @media (min-width:768px){
    width: 528px;
    height: 609px;
    }

  &__title {
    color: var(--title-color);
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0 0.03;
    margin-top: 0;
    margin-bottom: 12px;
  }

  &__button-close {
    position: absolute;
    display: flex;
    border-radius: 50%;
    background-color: var(--white-color);
    fill: var(--logo-style-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
   }   
}



